// Variables

$font-color: #606060;
$background-color: #171719;
$break-small: 600px;

// Typography


body {
  font-family: "osp-dindin", sans-serif;
  font-size: 2rem;
  letter-spacing: .1rem;
}

// General Styles

@font-face {
    font-family: 'osp-dindin';
    src: url('osp-din-webfont.woff2') format('woff2'),
         url('osp-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100vh;
  width: 100vw;
  min-height: calc(100vh - 150px);
}

body {
  background-color: #171719;
  color: $font-color;
  background: radial-gradient(ellipse at center, #4c4c4c 0%,#2c2c2c 0%,#131313 0%,#171719 30%,#000000 100%);
  min-height: 100vh;
  color: $font-color;
}


// Navigation

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  max-width: 100%;
  background-color: transparent;
  border: #171719;
  transition: all .3s ease-in-out;
  &:hover {
    color: #ddd;
    background-color: transparent;
    span {
      transform: rotate(180deg);
      background-color: #ddd;
      transform: scale(1.5);
      &:nth-child(2){
        width: 50%;
        transform:  translateX(2px) translateY(-2px) rotate(-45deg);
      }
      &:nth-child(3){
        transform: translateY(-1px) rotate(90deg);
      }
      &:nth-child(4){
        width: 50%;
        transform: translateX(9px) translateY(-14px) rotate(45deg);
      }
    }
  }
  span {
    transition: all .1s ease-in-out;
  }
}







.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0);
  border: 0px;
  //border-bottom: 1px solid $font-color;
  color: $font-color;
  .navbar-toggle.collapsed {
    background-color: transparent;
    border: #171719;
    transition: all .3s ease-in-out;
    &:hover {
      color: #ddd;
      background-color: transparent;
      span {
        background-color: #ddd;
        transform:scale(1.5);
        &:nth-child(2){
          width: 50%;
          transform:  translateX(2px) translateY(12px) rotate(45deg);
        }
        &:nth-child(3){
          transform: translateY(-1px) rotate(90deg);
        }
        &:nth-child(4){
          width: 50%;
          transform: translateX(9px) translateY(0px) rotate(-45deg);
        }
      }
    }
    span {
      transition: all .1s ease-in-out;
    }
  }

  button {
    transition: all .3s;
  }
}
.navbar-collapse {
  border: $background-color;
  margin: 0;
}

.navbar-right li a {
  color: $font-color;
  transition: all .3s;
  &:hover {
    color: #aaa;
  }
}

// Page One

#title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
  position: relative;
  img {
    max-width: 300px;
    //border-radius: 50%;
    //border: 1px solid $font-color;
  }
  #description {
    //max-width: 300px;
    //margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #666;
    letter-spacing: 3px;
  }
}

// Photos Gallery

#gallery {
  margin: 50px auto;
  max-width: 900px;
}

// Videos gallery
hr {
  max-width: 100px;
  margin: 50px auto;
}
#video-gallery {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 150px;
}

// Contact/About

#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #aaa;
  font-size: 1.5rem;
  text-align: center;
  #info  {
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    @media screen and (max-width: $break-small){
      background-color: rgba(0, 0, 0, 0);
    }
    #icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // margin: 0 auto;
      img {
        width: 150px;
        border-radius: 50%;
        border: 1px solid $font-color;
        @media screen and (max-width: $break-small){
          margin: 0 auto;
        }
      }
    }
    h3 {
      text-align: center;
    }
    #about  {
      max-width: 600px;
      padding: 50px;
      @media screen and (max-width: $break-small){
        padding: 50px 10px;
        text-align: center;
      }
    }
    @media screen and (max-width: $break-small){
      flex-direction: column;
    }
  }
}

#social-media-icons{
  margin-top: 20px;
  text-align: center;
  i {
    padding: 20px;
    color: $font-color;
    font-size: 3rem;
    transition: all .3s;
    &:hover {
      color: #eee;
    }
  }
}

// Footer

footer {
  text-align: center;
  padding: 20px;
}
